<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hk.edu.ouhk.weatherapp">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/Theme.WeatherApp">
        <activity android:name=".setDefaultLocation"/>
        <activity android:name=".ViewWeather"/>
        <activity android:name=".WeekFuture"/>
        <activity android:name=".TodayForecast"/>
        <activity android:name=".FutureDetail"/>
        <activity android:name=".AirPollution"/>
        <activity android:name=".report"/>
        <activity android:name=".temp_report"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".loadPage">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>